/**=====================
    Confetti css
==========================**/
@use 'sass:math';
@use 'sass:list';
@use 'sass:string';

.confetti-wrapper {
  position: fixed !important;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 999;
  display: none;
  pointer-events: none;

  &.show {
    display: block;
  }
}

[class|="confetti"] {
  position: absolute;
}

$colors: (#d13447, #ffbf00, #263672);

@for $i from 0 through 150 {
  $w: math.random(18);
  $l: math.random(100);

  .confetti-#{$i} {
    width: #{$w}px;
    height: #{math.div($w * 4, 10)}px;
    background-color: list.nth($colors, math.random(3));
    top: -10%;
    left: string.unquote($l + "%");
    opacity: math.random() + 0.5;
    transform: rotate(#{math.random() * 360}deg);
    animation: drop-#{$i} string.unquote(8 + math.random() + "s") string.unquote(math.random() + "s") 1 forwards;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: string.unquote($l + math.random(8) + "%");
    }
  }
}