/**=====================
    Portfolio css start
==========================**/
@use "../utils/variables";

.portfolio-section {
    overflow: hidden;

    #form1 {
        padding-bottom: 20px;
    }

    &.metro-section {
        .product-box {
            .product-detail {
                opacity: 0;
                position: absolute;
                background-color: variables.$white;
                padding: 10px;
                transition: all 0.5s ease;
                width: 65%;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -10px;
                text-align: center;

                h6 {
                    color: #525252;
                    padding-top: 0;
                    margin-top: -2px;
                }

                h4 {
                    font-weight: 400;
                    color: variables.$black;
                }

                &.default-view {
                    opacity: 1;
                    bottom: 15px;
                }
            }

            .cart-wrap {
                top: 7px;
                right: 7px;
                opacity: 1;

                button {
                    border: 1px solid variables.$white;
                    border-radius: 100%;
                    background-color: rgba(variables.$white, 0.8);
                    opacity: 1;

                    i {
                        padding: 7px;
                        color: variables.$font-color;
                    }
                }

                a {
                    i {
                        border-radius: 100%;
                        border: 1px solid variables.$white;
                        margin: 5px 0;
                        background-color: rgba(variables.$white, 0.8);
                        padding: 7px;
                        color: variables.$font-color;
                        opacity: 0;
                        @include variables.flex_common;
                    }
                }
            }

            &:hover {
                .product-detail {
                    opacity: 1;
                    transition: all 0.5s ease;
                    bottom: 15px;
                }

                .cart-wrap {
                    button {
                        animation: none;
                    }

                    a {
                        i {
                            opacity: 1;
                        }

                        &:nth-child(2) {
                            i {
                                animation: fadeInDown 500ms ease-in-out;
                            }
                        }

                        &:nth-child(3) {
                            i {
                                animation: fadeInDown 700ms ease-in-out;
                            }
                        }

                        &:nth-child(4) {
                            i {
                                animation: fadeInDown 1000ms ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-title {
    display: none;
}