/**=====================
    Tap to top css
==========================**/
@use "../utils/variables";

.tap-top {
    width: 40px;
    height: 40px;
    z-index: 8;
    color: variables.$white;
    text-align: center;
    background: var(--theme-color);
    border: none;
    font-size: 22px;
    padding: 7px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.5s ease;

    &.tap-show {
        display: flex;
    }
}

.compare-tap-top-box {
    z-index: 1;
    bottom: calc(18px + (30 - 18) * ((100vw - 767px) / (1920 - 767)));
    right: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
    position: fixed;
    display: flex;
    align-items: center;
    gap: calc(8px + (17 - 8) * ((100vw - 320px) / (1920 - 320)));

    @media (max-width: 767px) {
        bottom: 71px;
    }

    .compare-fix {
        a {
            position: relative;
            inset: unset;
            display: block;
        }
    }
}